.dv__img {
    width: 5rem;
    margin: auto;
}

.dv__img2 {
    width: 50%;
    margin: 1rem auto;
}

.sub__title {
    font-family: "Boutinela Script Regular";
    font-size: 2rem;
    margin: 1rem 0;
    line-height: 2;
}

.font--Palmaton {
    font-family: 'Palmaton';
    font-size: 2rem;
}