.cover {
    height: 100vh;
    background-image: url(../../images/header-4.jpg), url(../../images/floating-img.png);
    background-size: contain, contain;
    background-position: center top, bottom;
    background-repeat: no-repeat, no-repeat;
    background-blend-mode: multiply;
    background-color: white;
}
