.intro {
    // height: 100vh;
    padding-top: 1.5rem;
    .img {
        width: 250px;
        height: 250px;
        margin: auto;
        border-radius: 50%;
        box-shadow: 1px 1px 4px grey;
        background-image: url('../../images/TYEM1248.JPG');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .border {
        display: block;
        background-image: url('../../images/border.png');
        padding: 70px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }
}