body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Boutinela Script Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'MotherLand';
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/NVN-Motherland-Signature.ttf");
}

@font-face {
  font-family: "Palmaton";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/SVN-Palmaton.otf");
}

@font-face {
  font-family: "Brandon Grotesque Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/BrandonGrotesque-Regular-Regular.otf");
}
@font-face {
  font-family: "CutiveMono";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/CutiveMono-Regular.ttf");
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Lora-Regular.ttf);
}

@font-face {
  font-family: "Lora";
  font-style: italic;
  font-weight: 400;
  src: url(./assets/fonts/Lora-Italic.ttf);
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: bold;
  src: url(./assets/fonts/Lora-Bold.ttf);
}

@font-face {
  font-family: "Lora";
  font-style: italic;
  font-weight: bold;
  src: url(./assets/fonts/Lora-BoldItalic.ttf);
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/Lora-Medium.ttf);
}

@font-face {
  font-family: "Lora";
  font-style: italic;
  font-weight: 500;
  src: url(./assets/fonts/Lora-MediumItalic.ttf);
}